.form {
  font-size: 2em;
}

.flex {
  display: flex;
  align-items: center;
  text-align: left;
}

.end {
  justify-content: flex-end;
}

span {
  margin: 0 0.5em;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.container {
  display: inline-flex;
  flex: none;
  height: 2em;
  flex-flow: column nowrap;
  overflow: auto;
  text-decoration: underline;
}
.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container > div {
  margin: 0.7em 0 0.7em;
  scroll-snap-align: center;
  flex: none;
}

.inactive {
  color: gray;
}
