/* Headings */
h1, h2, h3 {
    font-family: 'Courier New', monospace;
    text-decoration: underline;
}

/* Tables */
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 95%;
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

thead {
    border-bottom: 2px solid var(--text-primary);
    background-color: var(--background-secondary);
    text-align: left;
}

td, th {
    padding: 0.5em 0.5em;
}

tbody tr {
    border-bottom: 1px solid var(--text-primary);
}


tbody tr:last-of-type {
    border-bottom: 2px solid var(--text-secondary);
}


/* Quotes */
blockquote {
  background: var(--background-secondary);
  border-left: 0.5rem solid var(--text-primary);
  margin: 1rem 1rem;
  padding: 0.5rem 3rem;
  quotes: "\201C""\201D""\2018""\2019";
}

/* For code syntax highlighting */
.sourceCode {
  border-radius: 5px;
  box-shadow: var(--shadow);
}

/* For all <code> */
code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 75%;
  border-radius: 5px;
  background: var(--background-secondary);
  color: #c8c8f0;
  box-shadow: var(--shadow);
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

/* Removing overflow, enforcing word wrapping */
pre > code.sourceCode {
  white-space: pre-wrap;
}

/* Code blocks */
pre code {
  display: block;
  overflow-x: auto;
  /* max-width: 100%; */
  /* min-width: 100px; */
  padding: 1rem;
}

/* TokyoNight Storm Colour Scheme */
code span.fu {
    color: #7aa2f7;
}

code span.dv {
    color: #F0A06E;
}


code span.dt {
    color: #AA8CDC;
}



code span.ot {
    color: #5AB4CD;
}
code span.op {
    color: #96C8E6;
}

code span.kw {
    color: #5AC8AA;
}

code span.st {
    color: #96BE6E;
}

code span.co {
    color: #5A5F82;
}
