.sourceCode {
  border-radius: 5px;
}

/* For all <code> */
code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 75%;
  border-radius: 5px;
  background: #242831;
  color: #c8c8f0;
}

/* Code in text */
p > code,
li > code,
dd > code,
td > code {
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

/* Code blocks */
pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 1rem;
}

/* TokyoNight Storm Colour Scheme */
code span.fu {
    color: #7aa2f7;
}

code span.dv {
    color: #F0A06E;
}


code span.dt {
    color: #AA8CDC;
}



code span.ot {
    color: #5AB4CD;
}
code span.op {
    color: #96C8E6;
}

code span.kw {
    color: #5AC8AA;
}

code span.st {
    color: #96BE6E;
}

code span.co {
    color: #5A5F82;
}
